{% extends 'PmcIntranetBundle:Templates:layout.html.twig' %}
{% block title %} 
{{ parent() }} | {{ data.titulo }}
{% endblock %}

{% block centralHeader %}
<form id="formSecretaria" action="" method="post" {{ form_enctype(formulario) }} >
<div class="row-fluid">
  <div class="col-sm-12 panel panel-default" style="margin-top:20px;">    
    <div class="panel-body"> 
        <h4 class="tit-azul">  {{ data.accion|upper }} {{ data.titulo|upper }} </h4>
      <hr/>        
        <div class="form-group has-feedback">              
            {{ form_label(formulario.nome) }}
            {{ form_widget(formulario.nome) }}
            {% if form_errors(formulario.nome) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.nome)|striptags }}" />
               </span>
            {% endif %}                
        </div>
        <div class="form-group has-feedback">              
            {{ form_label(formulario.endereco) }}
            {{ form_widget(formulario.endereco) }}
            {% if form_errors(formulario.endereco) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.endereco)|striptags }}" />
               </span>
            {% endif %}                
        </div>  
        <div class="form-group has-feedback">              
            {{ form_label(formulario.telefone) }}
            {{ form_widget(formulario.telefone) }}
            {% if form_errors(formulario.telefone) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.telefone)|striptags }}" />
               </span>
            {% endif %}                
        </div>      
        <div class="form-group has-feedback">              
            {{ form_label(formulario.email) }}
            {{ form_widget(formulario.email) }}
            {% if form_errors(formulario.email) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.email)|striptags }}" />
               </span>
            {% endif %}                
        </div>         
        <div class="form-group has-feedback">              
            {{ form_label(formulario.urlSite) }}
            {{ form_widget(formulario.urlSite) }}
            {% if form_errors(formulario.urlSite) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.urlSite)|striptags }}" />
               </span>
            {% endif %}                
        </div>
        <div class="form-group has-feedback">              
            {{ form_label(formulario.mapa) }}
            {{ form_widget(formulario.mapa) }}
            {% if form_errors(formulario.mapa) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.mapa)|striptags }}" />
               </span>
            {% endif %}                
        </div>      
        <div class="form-group has-feedback">              
            {{ form_label(formulario.secretario) }}
            {{ form_widget(formulario.secretario) }}
            {% if form_errors(formulario.secretario) %}       
               <span class="form-control-feedback">
                <img src="{{asset(path_img ~'advertencia.png')}}"
                     title="{{ form_errors(formulario.secretario)|striptags }}" />
               </span>
            {% endif %}                
        </div>      
{% set mostrar = (data.accion == 'nova')? 'oculto': ''  %}      
        <div class="form-group {{ mostrar }}">              
            {{ form_widget(formulario.ativo) }}
            {{ form_label(formulario.ativo) }}    
            {{ form_errors(formulario.ativo)|striptags }}           
        </div>           
      {{ form_rest(formulario) }}  
        <hr/>
        <div class="form-group">
         {% for mensaje in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
               <button type="button" class="close" data-dismiss="alert" 
                       aria-hidden="true">&times;</button>
            <img src="{{asset(path_img ~'error24.png')}}" /> &nbsp;{{ mensaje }}</div>
         {% endfor %}
        </div>
        <div  style="text-align: right">
            <a href="{{path('secretarias')}}">
               <button type="button" class="btn btn-default">Voltar</button></a>&nbsp; &nbsp; 
            <button type="button" class="btn btn-primary"
                    onclick="$('#formSecretaria').submit();
                             $(this).attr('disabled','disabled');">Salvar</button>
        </div>      
    </div>
  </div>
</div>        
</form>  

{% endblock %}

{# Ventanas emergentes #}
{% block modalWindow %}
    {% include 'PmcIntranetBundle:Templates:ventanaModal.html.twig' %}
{% endblock %}

{% block javascripts %}       
    {# Script para sombrear la pestaña activa del menú #}
    <script type="text/javascript">
     $(document).ready(function() {
         $('nav li').removeClass('active');
            var elementos = $('nav li a');                        
            elementos.each(function() { 
                if (trim($(this).html()).toLowerCase().indexOf('{{ data.titulo|lower }}') >= 0 )
                      $(this).parent().addClass('active');
                     });
     });                
  </script>
  
{% endblock %}  