<div class="panel-body" style="height: 280px; overflow-y: scroll">
{% if (s.usuarios|length > 0) %}    
   {% for u in s.usuarios %}  
      {% if u.ativo %}  
         <div class="row" style="margin: 10px auto; border-bottom: #D3D3D3 dashed 1px ">
             <div class="col-sm-3">
          {% set foto = asset(path_img ~'ico-user.png') %} 
          {% if u.foto|length > 0 %}            
                {% set foto = asset(path_retratos ~ u.foto) %}
          {% endif %} 
               <img class="img-thumbnail" style="width:100%"
                    src="{{ foto }}">      
             </div>
             <div class="col-sm-9 panel-body" style="padding-bottom: 5px; padding-right: 10px">    
                 <div class="row">
                   <div class="col-sm-12">
                     <div> {{ u.nome|title }} </div>
                     <div> Cargo: {{ u.cargo }}</div>                     
                   </div>             
                 </div> 
          {% if app.user != u %}
                 <div class="row">
                   <div class="col-sm-12" id="usuario_{{ u.id }}" 
                        style="text-align: right">
                      <img style="display: none" src="{{asset(path_img ~'preload.gif')}}"/>     
            {% set mostrar = (app.user in u.seguidor)? 'none' : 'inline' %}
                      <button id="seguir_{{ u.id }}"
                         type="button" class="btn btn-success btn-xs" 
                         title="Adicionar à Minha Rede"
                         style="display: {{ mostrar }}"
                         onclick="seguir({{ u.id }}, 1);"> Seguir</button>
            {% set mostrar = (app.user in u.seguidor)? 'inline' : 'none' %}                   
                      <button id="excluir_{{ u.id }}" 
                         type="button" class="btn btn-danger btn-xs" 
                         title="Deixar de Seguir"
                         style="display: {{ mostrar }}"
                         onclick="seguir({{ u.id }}, 0);"> Deixar de Seguir</button>                     
                   </div>             
                 </div>  
          {% endif %}                  
             </div>       
         </div>
      {% endif %}  
   {% endfor %}
{% else %}
 <div class="panel-body" >        
   <div style="padding: 0px 20px 5px 10px; float: left">
        <img src="{{ asset(path_img ~ 'noUser.png')}}"  />
   </div>   
   <p style="padding-top: 20px">Secretaria sem usuários cadastrados</p>          
 </div>  
{% endif %}        
</div>        