{% for s in data.secretarias %} 

{% set activo = ( s.ativo )? '':'inactivo' %}

<div id="secretaria_{{ s.id }}" class="row {{ activo }}" title="{{ activo|upper }}">    
    <div class="col-sm-12 panel panel-default" style="margin-top:20px">
        <div class="tit-verde" style="font-weight:normal; padding: 10px 0px 0px 10px">
        {{ s.nome|upper }}          
        <hr/>        
        </div>
        <div style="padding:0px 5px">
           <!-- Nav tabs -->
           <ul class="nav nav-tabs">
             <li class="active"><a href="#inicio_{{s.id}}" data-toggle="tab">Início</a></li>
             <li><a href="#funcionarios_{{s.id}}" data-toggle="tab">Funcionários</a></li>
             <li><a href="#servicos_{{s.id}}" data-toggle="tab">Serviços</a></li>
             <li><a href="#mapa_{{s.id}}" data-toggle="tab">Mapa de Localização</a></li>
           </ul>
           <!-- Tab panes -->        
           <div class="tab-content" style="height:280px;">
              <div class="tab-pane fade in active" id="inicio_{{s.id}}">
                {% include 'PmcIntranetBundle:Secretaria:secretariasInicio.html.twig' %}
              </div>
              <div class="tab-pane fade" id="funcionarios_{{s.id}}">
                {% include 'PmcIntranetBundle:Secretaria:secretariasFuncionarios.html.twig' %}  
              </div>
              <div class="tab-pane fade" id="servicos_{{s.id}}">
                {% include 'PmcIntranetBundle:Secretaria:secretariasServicos.html.twig' %}
              </div>
              <div class="tab-pane fade" id="mapa_{{s.id}}">                 
                {% include 'PmcIntranetBundle:Secretaria:secretariasMapa.html.twig' %}
              </div>
           </div>
            
        </div>
       {% include 'PmcIntranetBundle:Secretaria:controlSecretaria.html.twig' %}       
    </div>    
</div>
{% endfor %}      