<div class="panel-body" >
  <div class="media" >
    {% set foto = asset(path_img ~'ico-user.png') %} 
    {% if s.secretario.foto|length > 0 %}            
    {% set foto = asset(path_retratos) ~ s.secretario.foto %}
    {% endif %}     
     <div class="pull-left" style="width:60px; vertical-align: central">
         <img class="media-object img-responsive img-thumbnail" style="width:100%"
              src="{{ foto }}">
     </div>
     <div class="media-body" style="text-align:justify; padding-left: 10px">
      <p class="media-heading" style="padding-top: 5px">{{ s.secretario.nome|title }}</p>
      <p class="tit-verde" style="font-weight: normal">{{ s.secretario.cargo|upper }}</p>
     </div>        
  </div> 
  <hr/>
  <p class="tit-verde" style="font-weight: normal">INFORMAÇÕES DA SECRETARIA</p>
  <p><i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp;{{ s.telefone }}</p>
  <p><i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp;{{ s.endereco }}</p>
  <p><i class="glyphicon glyphicon-circle-arrow-right"></i>
       <a href="mailto:{{ s.email }}">{{ s.email }} </a> </p>
  <p><i class="glyphicon glyphicon-circle-arrow-right"></i>
       <a href="{{ s.urlSite }}">{{ s.urlSite }} </a></p>  
</div> 
