{% extends 'PmcIntranetBundle:Templates:layout.html.twig' %}
{% block title %} 
{{ parent() }} | {{ data.titulo }}
{% endblock %}

{% block centralHeader %}
{# Filtros de búsqueda #}
<input type="hidden" id="uri" value="{{ data.uri }}"/>
   {% include 'PmcIntranetBundle:Banner:filtrosBanners.html.twig' %}
{% endblock %}

{% block publications %}

{% include 'PmcIntranetBundle:Banner:banners.html.twig' %}
{% endblock %}

{% block mais %}
  <div class="row">
    <div class="col-sm-12" style="margin-top: 20px">        
        <img id="gifCargarMais" style="display: none "
             src="{{ asset(path_img ~'loading.gif') }}"/>        
        <div id="more" onclick="mostrarMais();">MAIS</div>
    </div>
  </div>
{% endblock %}

{# Ventanas emergentes #}
{% block modalWindow %}
    {% include 'PmcIntranetBundle:Templates:ventanaModal.html.twig' %}
{% endblock %}

{% block javascripts %}   
    <script type="text/javascript" src="{{ asset('bundles/pmcintranet/js/banners.js') }}"></script>
    {# Script para sombrear la pestaña activa del menú #}
    <script type="text/javascript">
     $(document).ready(function() {
         $('nav li').removeClass('active');
            var elementos = $('nav li a');                        
            elementos.each(function() { 
                if (trim($(this).html()).toLowerCase().indexOf('{{ data.titulo|lower }}') >= 0 )
                      $(this).parent().addClass('active');
                     });  
     });
  </script>
{% endblock %}  