<!-- BOX FILTROS -->
<div class="row-fluid">
  <div class="col-lg-12 filtro-principal" style="margin-bottom: 20px">   
    <form id="formFiltros" action="" method="post" {{ form_enctype(formulario) }} >          
        <h5 class="tit-azul"> FILTROS DE {{ data.titulo|upper }} </h5>             
        <div class="input-group">
            <div class="input-group-addon btn btn-primary dropdown-toggle" 
                 data-toggle="dropdown">
                <img src="{{ asset(path_img ~'ico-seg-busca.png') }}"/>     
            </div>
            <div class="dropdown-menu panel-body" 
                 style="font-size: 0.9em; font-weight: normal; color: #AAAAAA">                   
                {{ form_label(formulario.activo) }}  
                {{ form_widget(formulario.activo) }}             
            </div> 
            {{ form_widget(formulario.patron) }}
            <span class="input-group-addon btn btn-primary" style="color:white"
                  onclick="$('#form_puntero').val(0); $('#formFiltros').submit();">
                <img src="{{ asset(path_img ~'ico-busca.png') }}"/>  </span>                
        </div>  
     {{ form_rest(formulario) }}    
    </form> 
{% if ( is_granted('ROLE_PRENSA') or is_granted('ROLE_ADMIN') ) %}          
    <hr style="border-bottom: 2px solid #fff" />     
    <div class="row">
        <div class="col-lg-12" style="text-align: right">
          <a href="{{path('novoBanner') }}">
            <button type="button" class="btn btn-primary btn-sm">Novo Banner</button>
          </a>          
        </div>      
    </div>      
{% endif %}    
  </div>
</div>  
<!-- BOX FILTROS END -->