<div class="row ">          
   <div id="collapse{{p.id}}" class="col-lg-12 panel panel-default panel-collapse collapse"
        style="margin-bottom: 0px; margin-top: -2px; border-top: none;">
     <div class="panel-body" style="padding: 15px 5px 10px">
         
{# Muestra título si es > 100 caracteres y tipo es diferente de Noticias #}             
{% if (p.titulo|length > 100) and (p.tipo.id != 2) %}  
        <p title="Título" style="text-align: justify">
          {{ p.titulo }} </p>
{% endif %}             
            
{# Muestra resumo para todas las publicaciones menos para Noticias #}            
{% if p.tipo.id != 2 %}            
        <p title="Resumo" style="text-align: justify">{{ p.resumo }}</p>  
{% endif %}   
        
        <p title="Conteúdo" style="text-align: justify">{{ p.conteudo }}</p>
        
{# Si la publicación es de tipo 1 (mensaje) muestra imagen y video #}
{% if p.tipo.id == 1 %}
   {# Si posee imágen #}
   {% if p.imagem|trim|length > 0 %}    
       <p> <img src="{{ asset(path_imagens) ~ p.imagem }}"
                     style="width:100%" /></p>
   {% endif %}     
   {% if p.video|length > 0 %}    
        <p> {{ p.video|trim|raw }} </p>
   {% endif %}                 
{% endif %}
        
        <hr/>
{# CARGAR COMENTARIOS #}
        <div id="comentarios_{{ p.id }}">
{% include 'PmcIntranetBundle:Templates:comentarios.html.twig' %} 
        </div>      
        
{# POSTAR COMENTARIO #} 
{% include 'PmcIntranetBundle:Templates:postarComentario.html.twig' %}            

{# TAG OCULTAR #}        
        <div class="ocultar">
          <a class="accordion-toggle collapsed" data-toggle="collapse" 
             href="#collapse{{ p.id }}">Ocultar Comunicado</a>            
        </div>            
    </div>
  </div>
</div>             