{% if p.comentarios|length > 0 %}
<div style="margin-bottom: 15px">
   Comentários ({{p.comentarios|length}})
</div>
{% for cmt in p.comentarios %}
<div id="comentario_{{ cmt.id }}"
     class="panel panel-default" style="position: relative; z-index: 1"
     title="Postado em {{ cmt.data|date('d-')~cmt.data|date('M')|trans~
                          cmt.data|date('-Y h:ia') }}">
{# Boton Eliminar Comentario si el mismo pertenece al usuario #} 
{% if app.user == cmt.usuario %}    
  <div style="position: absolute; top: 1px; right: 5px; z-index: 100">
      <img style="display: none" src="{{ asset(path_img ~'preload.gif') }}">
      <span class="glyphicon glyphicon-remove" title="Clique para excluir seu comentário"
            style="color: #999; font-size: 0.8em; cursor: pointer"
            onclick="excluirComentario({{ cmt.id }})"></span>          
  </div>   
{% endif %}    
    
{# Panel de comentario #}      
  <div class="panel-body" style="padding: 5px 10px 5px 5px;">
    <div class="media" >
       {% set foto = asset(path_img ~'ico-user.png') %} 
       {% if cmt.usuario.foto|length > 0 %}            
       {% set foto = asset(path_retratos) ~ cmt.usuario.foto %}
       {% endif %}     
        <div class="pull-left" style="width:50px; vertical-align: central">
            <img class="media-object img-responsive img-thumbnail" 
                 src="{{ foto }}">
        </div>
        <div class="media-body" style="text-align:justify; padding-right: 10px">
         <span class="media-heading name-comentarios">{{ cmt.usuario.nome }}</span>
{% if cmt.usuario.banido %}
         <center>[ Comentário banido pelo servidor ]</center>
{% else %}          
         <span style="font-size: 0.9em"> {{ cmt.comentario }}</span>
{% endif %}         
        </div>        
    </div>              
  </div>  
</div> 
{% endfor %}
{% endif %}
