<!--COLUNA CENTRO-->
<div class="container-fix">

{# Posteador de Mensaje #}    
{% include 'PmcIntranetBundle:Home:mensagem.html.twig' %}    

{# Examinador de Publicaciones #}    
{% for p in data.publications %}    
   {% if p.tipo.id == 1 %}     {# É uma Mensagem #}
     {{ p.usuario.nome }}: {{ p.titulo }} (es un Mensaje) <br/>    
   {% elseif p.tipo.id == 2 %} {# É uma Notícia #}
     {{ p.usuario.nome }}: {{ p.titulo }} (es una Noticia) <br/>
   {% elseif p.tipo.id == 3 %} {# É um Comunicado #}
     {{ p.usuario.nome }}: {{ p.titulo }} (es un Comunicado) <br/>
     {% include 'PmcIntranetBundle:Home:comunicado.html.twig' %}  
   {% elseif p.tipo.id == 4 %} {# É um Evento #}   
     {{ p.usuario.nome }}: {{ p.titulo }} (es un Evento) <br/>
   {% endif %} 
{% endfor %}        
      
        

</div>