<nav class="container-fluid">
<div class="row">    
  <div class="col-lg-12 logo"> 
    <a href="{{ path('home') }}">
     <img src="{{ asset(path_img ~'logo.png') }}" style="width: 90%;">
    </a> 
  </div>
</div>

<div class="row">
  <div class="col-lg-12" style="padding: 0px;">
    <ul class="nav nav-pills nav-stacked utilidade">
      <li class="utilidade-tit">Utilidade</li>
      <li class="utilidade-fundo" >
        <a href="{{ url('home')}}">
         <span class="ico-menu">
            <img src="{{ asset(path_img ~'ico-inicio.png') }}">
         </span>Início</a></li>
      <li class="utilidade-fundo">
        <a href="{{path('funcionarios')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-funcionarios.png') }}">
         </span>Funcionários</a></li>         
      <li class="utilidade-fundo">
        <a href="{{path('secretarias')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-secretarias.png') }}">
         </span>Secretarias</a></li>
      <li id="menuServicos" class="utilidade-fundo">
        <a href="{{path('servicos')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-servicos.png') }}">
         </span>Serviços</a></li>
      <li id="menuServicosSolicitados" class="utilidade-fundo">
        <a href="{{path('servicosSolicitados')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-solicitacoes.png') }}">
         </span>Solicitações de Serviços</a></li>
      <li class="utilidade-fundo">
        <a href="{{path('leiDecreto')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-leis.png') }}">
         </span>Leis e Decretos</a></li>
      <li class="utilidade-fundo">
        <a href="{{path('linksUteis')}}">
         <span class="ico-menu">
             <img src="{{ asset(path_img ~'ico-links.png') }}">
         </span>Links Úteis</a></li>
    </ul>
  </div>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px">
  <div class="col-lg-12" style="padding: 0px;">
    <ul class="nav nav-pills nav-stacked social">
      <li class="social-tit">Social</li>
      <li class="social-fundo">
        <a href="{{path('home')}}filtrar/mensagens">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-mensagens.png') }}">
          </span>Mensagens</a></li>
      <li class="social-fundo">
        <a href="{{path('home')}}filtrar/comunicados">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-comunicados.png') }}">
          </span>Comunicados</a></li>
      <li class="social-fundo">
        <a href="{{path('home')}}filtrar/eventos">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-eventos.png') }}">
          </span>Eventos</a></li>
      <li class="social-fundo">
        <a href="{{path('home')}}filtrar/noticias">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-noticias.png') }}">
          </span>Notícias</a></li>
      <li class="social-fundo">
        <a href="{{path('home')}}minhaRede">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-rede.png') }}">
          </span>Minha rede</a></li>
    </ul>
  </div>
</div>

{% if is_granted('ROLE_PRENSA')  %}          
<div class="row" style="margin-bottom: 20px">
  <div class="col-lg-12" style="padding: 0px;">
    <ul class="nav nav-pills nav-stacked adm">
      <li class="adm-tit">Administrativo</li>
      <li class="adm-fundo">
        <a href="{{path('adminBanners')}}">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-banners.png') }}">
          </span>Banners</a></li>
{#      <li class="adm-fundo">
        <a href="#">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-propriedades.png') }}">
          </span>Propriedades do Sistema</a></li>#}
      <li class="adm-fundo">
        <a href="{{path('log')}}">
          <span class="ico-menu">
              <img src="{{ asset(path_img ~'ico-seguranca.png') }}">
          </span>Gerenciamento de Logs</a></li>
    </ul>
  </div>
</div>
{% endif %}        
</nav>