<!-- BOX LEI OU DECRETO --> 
{% for l in data.leiDecreto %}  
{% set tipo = (l.lei)? 'LEI':'DECRETO' %}
<div id="leiDecreto_{{ l.id }}" class="row" style="margin-top: 20px">
 <h6 class="tit-verde linha-verde">{{ tipo }}</h6>        
 <div class="col-sm-12 ">
    <div class="row ">
      <div class="col-sm-12 panel panel-default panel-body" style="margin-bottom: -1px;">
         <div class="row">         
           <div class="col-sm-12" style="text-align:justify">                    
             <span class="tit-preto">  {{ l.nome|upper }}</span>
           </div>       
         </div>          
         <div class="row">
           <div class="col-sm-6" >          
              <span class="tit-verde">ANO: {{ l.ano }} </span>    
           </div>             
           <div class="col-sm-6" style="text-align: right; padding-top: 10px">          
                <a data-toggle="collapse" href="#collapse{{l.id}}">
                   <img src="{{asset(path_img ~'ico-leia.png')}}" 
                         width="23" height="19">
                   <span style="margin-left:5px;">Leia Mais</span></a>           
           </div>
         </div>
{# ACCORDION #}             
         <div class="row">         
           <div  id="collapse{{ l.id }}" class="col-sm-12 panel-collapse collapse" 
                 style="text-align:justify">                    
             <hr/>   
             <p> {{ l.conteudo|upper|nl2br }}</p>
             <a href="{{ asset(path_pdf ~ l.arquivo) }}" target="_blank">
                <img src="{{ asset(path_img ~ 'icon_pdf.jpg') }}" title="{{ tipo }}"/>
                {{ tipo }}</a>
           </div>       
         </div>                 
      </div>
    </div>
{# PANEL OPCIONAL: CONTROL DE PUBLICACIÓN #}    
{% include 'PmcIntranetBundle:LeiDecreto:controlLeiDecreto.html.twig' %} 
 </div>
</div>
{% endfor %}  
<!-- BOX LEI OU DECRETO END -->