<!-- BOX COMUNICADO -->

<div class="row">    
  <h6 class="tit-verde linha-verde {{ activo }}" style="font-weight:bolder" 
      title="{{ titulo }}">Comunicados</h6>    
  <div class="col-sm-12 panel panel-default box-comunicados" style="margin-bottom: 0px">     
      <div class="row" >
<!-- IZQ COMUNICADO -->          
        <div class="col-sm-4 box-comunicados-data">               
          <div class="row">
              <div class="tit-branco2 dia-comunicado">{{ p.data|date('d') }}</div>
              <div class="mes-comunicado">{{ p.data|date('M')|trans|lower }}</div>                 
          </div>
        </div>
<!-- DER COMUNICADO -->          
        <div class="col-sm-8 text-comunicados" >      
          <div class="row"> 
{# Escoger entre video e imagen #}
{% if ( p.video|trim|length > 0) %}                      
                        {{ p.video|raw }}          
{% elseif p.imagem|trim|length > 0 %}                      
                <img src="{{ asset(path_imagens ~ p.imagem) }}"
                     style="width:100%;" />              
{% else %}
                <img src="{{ asset(path_img ~'no_image.jpg') }}"
                     style="width:100%;" />                                
{% endif %}  
          </div>
          <div class="row" style="text-align: justify"> 
             <div class="col-sm-12" >
              {{ p.titulo|length > 100 ? p.titulo|slice(0, 100) ~ '...' : p.titulo }}
             </div>        
          </div>              
        </div>          
      </div>           
      <div class="row box-comunicados-comentarios ">
          <div class="col-sm-4">
              <a data-toggle="collapse" href="#collapse{{p.id}}">
                <img src="{{asset(path_img ~'ico-leia2.png')}}" 
                     width="23" height="19">
                <span style="margin-left:5px;">Leia Mais</span></a>
          </div>  
          <div class="col-sm-8 text-comunicados" style="text-align: right">
              <a data-toggle="collapse" href="#collapse{{p.id}}">
                <img src="{{asset(path_img ~'ico-comentarios2.png')}}" 
                     width="22" height="24"/>
                <span style="margin-left:5px;">Comentários</span></a>              
          </div>   
      </div>           
  </div> 
</div>  
{# ACCORDION #}    
{% include 'PmcIntranetBundle:Templates:acordeon.html.twig' %}  

{# PANEL OPCIONAL: CONTROL DE PUBLICACIÓN #}    
{% include 'PmcIntranetBundle:Templates:controlPublicacao.html.twig' %}  
<!--CONTEÚDO END-->               
<!--BOX COMUNICADO END-->